.chart {

    &__tooltip {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06);
        border-radius: $br-standard;

        .banner__icon {
            margin-left: -10px;
            margin-right: 4px;
        }
    }

    &__tooltip-values {
        width: 100%;
    }

    &__line {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    &__value {
        padding-left: $space__x-small;
        font-weight: 600;
        text-align: right;
    }

}

.bubble-chart {

    h1 {
        font-weight: 700;
        margin-bottom: $space__small;
    }

    .panel__segmented {
        padding-top: 0;
    }

    .btn__segmented {
        text-align: left;
    }

    &__intro {
        font-size: 120%;
        width: 580px;
        float: left;
    }

    &__menu {

        width: 100%;
        display: table-cell;
        padding-bottom: $space__large;

        &--item {
            float: left;
            margin-right: $space__medium;
        }

        &--label {
            font-size:72%;
            color: $color__blue-grey-400;
        }
    }

    &__relative-to-size-legend {

        float: left;
        clear: left;

        &--graph {
            width: 148px;
            height: 165px;
            background: url(/public/assets/images/stellwagen_portal/revenue-relative-size.svg) 0 0 no-repeat;
        }
    }
}

#airline_credit_rating_bubble_map {
    margin-top: -16px;

    .cluster_title {
        fill: $color__blue-grey-900;
        font-weight: 600;
        padding: $space__small;
        background: $color__white;
    }
}

.recharts-default-legend {
    margin-top: 10px;
}

.recharts-legend-item {
    margin-right: 20px !important;
}
.recharts-surface {
    border-radius: 20px;
}

.recharts-tooltip-item-value {
    text-align: right;
}

.recharts-legend-item-text, .burndown-legend-header, .burndown-legend-label {
    color: $color__blue-grey-500;
    fill: $color__blue-grey-500;
}

.recharts-text, .recharts-cartesian-axis-tick-value {
    font-weight: 500;
    font-size: 80%;
    color: $color__blue-grey-500;
    padding-top: $space__xx-small;
    margin-top: $space__xx-small;
    text-transform: uppercase;
}

.recharts-cartesian-grid-vertical {
    display: none;
}

.recharts-cartesian-grid-horizontal {
    opacity: .7;
}
