// spacing units

$space__xxx-small       : .125rem;   // 2px
$space__xx-small        : .25rem;    // 4px
$space__x-small         : .5rem;     // 8px
$space__small           : .75rem;    // 12px
$space__s-medium        : 1.05rem;   // 16px
$space__medium          : 1.5rem;    // 24px
$space__large           : 2rem;      // 32px
$space__x-large         : 2.6rem;    // 40px
$space__xx-large        : 3.2rem;    // 48px
$space__3x-large        : 3.4rem;    // 52px
$space__4x-large        : 3.9rem;    // 60px
$space__5x-large        : 4.4rem;    // 68px
$space__6x-large        : 4.93rem;   // 76px
$space__7x-large        : 5.43rem;   // 84px
