// Margins

.u__margin-bottom--x-large { margin-bottom: $space__x-large !important; }
.u__margin-bottom--medium { margin-bottom: $space__medium !important; }
.u__margin-bottom--small { margin-bottom: $space__small !important; }
.u__margin-bottom--x-small { margin-bottom: $space__x-small !important; }
.u__margin-bottom--0 { margin-bottom: 0 !important; }
.u__margin-top--x-large { margin-top: $space__x-large !important; }
.u__margin-top--medium { margin-top: $space__medium !important; }
.u__margin-top--small { margin-top: $space__small !important; }
.u__margin-top--x-small { margin-top: $space__x-small !important; }
.u__margin-top--0 { margin-top: 0 !important; }
.u__margin-left--small { margin-left: $space__small !important }
.u__margin-left--medium { margin-left: $space__medium !important }
.u__margin-right--small { margin-right: $space__small !important }
.u__margin-right--medium { margin-right: $space__medium !important }
.u__margin--0 { margin:0 !important; }