// Paddings

.u__padding-left--medium { padding-left: $space__medium !important; }

.u__padding-bottom--0 { padding-bottom: 0 !important; }
.u__padding-bottom--small { padding-bottom: $space__small !important }
.u__padding-bottom--s-medium { padding-bottom: $space__s-medium !important }
.u__padding-bottom--medium { padding-bottom: $space__medium !important }
.u__padding-top--medium { padding-top: $space__medium !important }
.u__padding-top--s-medium { padding-top: $space__s-medium !important }
.u__padding-top--small { padding-top: $space__small !important }
.u__padding-top--0 { padding-top: 0 !important }
.u__padding--0 { padding: 0 !important; }

.u__padding--small { padding: $space__small !important; }
.u__padding--medium { padding: $space__medium !important; }
.u__padding--large { padding: $space__large !important; }