/* Grid styles */

.grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    &__item {
        flex: 1;

        &--top {
            align-self: flex-start;
        }

        &--bottom {
            align-self: flex-end;
        }

        &--center {
            align-self: center;
        }

        &--auto-size {
            flex: none;
        }

        /* Individual items fixed size */
        
        // Temporarily commenting this out as
        // with update made wanna make sure
        // anything else somewhere else is might
        // be breaking a layout.
        
        // &--1-1,
        // &--1-2,
        // &--1-3,
        // &--1-4,
        // &--1-5,
        // &--1-6 {
        //     flex: none;
        // }

        &--1-1 {
            flex: 0 0 100%;
        }

        &--1-2 {
            flex: 0 0 50%;
        }

        &--1-3 {
            flex: 0 0 33.333%;
        }

        &--1-4 {
            flex: 0 0 25%;
        }

        &--1-5 {
            flex: 0 0 20%;
        }

        &--1-6 {
            flex: 0 0 16.666%;
        }

        /* Individual items alignment */

        // &--top {
        //     align-self: top;
        // }

        // &--bottom {
        //     align-self: bottom;
        // }

        // &--center {
        //     align-self: center;
        // }
    }

    &__flex {
        > .grid__item {
            display: flex;
        }
    }

    /* Gutters */

    &__gutter {
        margin: -.75rem 0 .75rem -.75rem;

        > .grid__item {
            padding: .75rem 0 0 .75rem;
        }

        &--large {
            margin: -1.5rem 0 1.5rem -1.5rem;

            > .grid__item {
                padding: 1.5rem 0 0 1.5rem;
            }
        }

        &--x-large {
            margin: -2.6rem 0 2.6rem -2.6rem;

            > .grid__item {
                padding: 2.6rem 0 0 2.6rem;
            }
        }
    }

    /* Alignment */

    &__align {
        &--top {
            align-items: flex-start;
        }

        &--bottom {
            align-items: flex-end;
        }

        &--center {
            align-items: center;
        }

        &--justify-center {
            justify-content: center;
        }

        &--justify-right {
            justify-content: flex-end;
        }
    }

    /* Fitting */

    &__fit {
        > .grid__item {
            flex: 1;
        }
    }

    &__1-1 {
        > .grid__item {
            flex: 0 0 100%;
        }
    }

    &__1-2 {
        > .grid__item {
            flex: 0 0 50%;
        }
    }

    &__1-3 {
        > .grid__item {
            flex: 0 0 33.333%;
        }
    }

    &__1-4 {
        > .grid__item {
            flex: 0 0 25%;
        }
    }

    &__1-5 {
        > .grid__item {
            flex: 0 0 20%;
        }
    }

    &__1-6 {
        > .grid__item {
            flex: 0 0 16.666%;
        }
    }

    // Fixed widths 

    &__fixed {
        &--350 {
            flex: 0 0 350px;
        }
    }
}

/* Media queries viewport based */

@media (max-width: $bp-medium) {
    .grid {
        &__1-2 {
            > .grid__item {
                flex: 0 0 100%;
            }
        }

        &__1-3, &__1-4  {
            > .grid__item {
                flex: 0 0 50%;
            }
        }

        &__1-5, &__1-6 {
            > .grid__item {
                flex: 0 0 33.333%;
            }
        }
    }
}

@media (max-width: $bp-small) {
    .grid {
        &__1-3, &__1-4  {
            > .grid__item {
                flex: 0 0 100%;
            }
        }

        &__1-5, &__1-6 {
            > .grid__item {
                flex: 0 0 50%;
            }
        }
    }
}

@media (max-width: $bp-x-small) {
    .grid {
        &__1-5, &__1-6 {
            > .grid__item {
                flex: 0 0 100%;
            }
        }
    }
}

/* Demo block */

.demo-grid {
    padding:.75rem;
    background:rgba(0, 150, 149, .1);
    border-radius: 4px;
    width:100%;
    text-align: center;
    font-size: 1rem;
}
