$color__dark-ui-1000         : #080808;
$color__dark-ui-900          : #161616;
$color__dark-ui-800          : #202020;

$color__input-fields         : $color__blue-grey-600 !default;
$color__input-fields--hover  : $color__blue-grey-800 !default;