.dark__ui {

    .panel {
        background: $color__dark-ui-900;
        border:1px solid $color__dark-ui-800;

        &__header {
            border-bottom: 1px solid $color__dark-ui-800;
            position: relative;
        }
    }
    
}